html, body{
    margin:0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none !important;
}
.order-foods-contact-container{
    width: 100%;
    height: 30px;
    background:#fff;
    margin-top:10px;
    position:relative;
}
.order-foods-time-container{
    float:left;
    left:40%;
    position:relative;
    background:#fff;
    height:30px;
    width:40%;
}
.order-foods-opening-schedule-container{
    width:30%;
    height: 50%;
    position:absolute;
}
.order-foods-opening-schedule-container-text{
    margin-top:-23px;
    margin-left:34px;
    position:absolute;
    font-family:"Arial";
}
.order-foods-contact-number-container{
    width:30%;
    height:50%;
    margin-top:0px;
    margin-left:35%;
    position:absolute;
}
.order-foods-contact-number{
    margin-top:-23px;
    margin-left:34px;
    position:absolute;
    font-family:"Arial";
}
.order-foods-social-media-container{
    width:40%;
    height: 50%;
    margin-top:0px;
    margin-left:90%;
    position:absolute;
}
.order-foods-menu-container{
    width:100%;
    height:100px;
    background-color: #000 !important;
    position:relative;
    opacity: 0.5;
}
.order-foods-menu-container-second{
    position:relative;
    margin-top:-95px;
    height:95px;
    width:100%;
}
.order-navigation-h3{
    display:none !important;
}
.order-navigation-menu{
    float:right;
    width:59%;
    display:inline !important;
    padding-top:20px;
    position:relative;
}
.order-navigation-menu-links{
    display:inline !important;
    color:#fff !important;
    font-family:"Arial";
    padding-right:45px;
}
.order-logo-container{
    border-color: #e7a331 transparent transparent transparent;
    border-style: solid;
    border-width: 200px;
    height:0px;
    width:0px;
    margin-left:125px;
    margin-top:-146px;
    z-index:10;
    position:relative;
    top:6px;
}
.order-logo-h3{
    display:none !important;
}
.order-logo-image{
    top:-85px;
    z-index:10;
    position:relative;
    margin-top:-250px;
    margin-left:-106px;
    width:200px;
}
header{
    background: url(assets/images/header-background-image.png);
    background-repeat: no-repeat;
    background-size:100%;
    height: 800px;
    margin-top:-10px;
}
.main-text-banner-container{
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    margin-top: -180px;
    position:absolute;
}
.main-text-banner-header{
    color:#fff !important;
    font-family:"Pacifico";
    font-size:100px;
    text-shadow: 2px 2px #000;
}
.main-text-banner-content-container{
    width: 75%;
    text-align: center;
    z-index: 10;
    float: left;
    margin-left: 13%;
    margin-top: 80px;
    position:relative;
}
.main-text-banner-content{
    color: #fff !important;
    font-family: "Times New Roman";
    font-size:25px;
}
.main-text-banner-button-container{
    margin-top:265px;
    border-radius: 10px;
    width:8%;
    text-align: center;
    vertical-align: middle;
    border:3px solid #fff;
    margin-left: 46%;
    padding:13px;
    position:absolute;
}
.main-text-banner-link{
    color:#fff !important;
    font-size:18px;
    font-family: "Times New Roman";
}
.about-main-container{
    width:100%;
    height:800px;
    background: #fff !important;
    position: absolute;
    margin-top:-36px;
}
.about-main-image-container{
    width:33%;
    float:left;
    margin-top:8%;
    margin-left:8%;
}
.about-heading-main-container{
    float: right;
    width:59%;
    margin-top:8%;
    position:relative;
}
.about-heading-container{
    width:40%;
    position:relative;
    float:left;
    margin-left:5%;
}
.about-us-main-heading{
    font-family:"Pacifico";
    font-size:28px;
    margin:0px;
}
.about-us-second-main-heading{
    font-family:"Times New Roman";
    text-transform:uppercase;
    font-size:40px;
    margin:0px;
}
.about-us-content-container{
    width:90%;
    margin-top:4%;
    float:left;
    margin-left:5%;
}
.about-us-button-link-container{
    position:relative;
    float:left;
    margin-left:5%;
    margin-top:3%;
    background:#e7a331;
    height:30px;
    border-radius:5px;
    padding-top:10px;
    padding-left:36px;
    padding-right:36px;
}
.about-us-button-link{
    color:#fff;
    font-family: "Times New Roman";
}
.about-us-background-container{
    position:absolute;
    right: 0px;
    top:455px;
    z-index:3;
    float:right;
}
.special-recipes-background{
    width:100%;
    height:800px;
    position:absolute;
    margin-top:764px;
    background:url(assets/images/special-recipes-background-image.png);
    background-repeat: no-repeat;
    background-size:100%;
}
.special-recipes-main-text-container{
    width:30%;
    background:#fff;
    height:55%;
    float:left;
    margin-top:10%;
    left:185px;
    z-index:3;
    position:relative;
}
.special-recipes-image-container{
    float:right;
    right:182px;
    position:relative;
    top:100px;
    width:50%;
    height:70%;
}
.special-recipes-heading-container{
    padding-left:47px;
    position:relative;
}
.special-recipes-main-heading{
    font-family:"Pacifico";
    font-size:2em;
    left:-3px;
    display:inline-block;
}
.special-recipes-second-heading{
    font-family:"Times New Roman";
    text-transform:uppercase;
    font-size:2em;
    font-weight: normal !important;
    position:relative;
    top:-78px;
    display:inline-block;
    left:-3px;
    padding-right:9px;
}
.special-recipes-main-content{
    padding-right:30px;
    padding-left:50px;
    position:relative;
    top:-50px;
}
.special-recipes-button-container{
    padding-left:50px;
    padding-right:50px;
    border-radius:5px;
    background:#e7a331;
    width:16%;
    float:left;
    left:48px;
    position:relative;
    height:40px;
    top:-20px;
}
.special-recipes-link{
    color:#fff;
    padding-top:10px;
    position:relative;
    display:inline-block;
    width:500px;
}
.delightful-experience-container{
    width:100%;
    height:800px;
    position:absolute;
    margin-top:1564px;
}
.delightful-experience-image-separator-container{
    position:absolute;
    float:left;
    width:100%;
    margin-top:-200px;
}
.delightful-experience-main-content-container{
    margin-top:-55px;
    height:800px;
    position:absolute;
    width:100%;
    background:#fff !important;
}
.delightful-experience-main-heading-content{
    margin:0 auto;
    width:100%;
    height:auto;
    text-align:center;
}
.delightful-text-font{
    font-family:"Pacifico";
    font-size:2em;
    padding-top:80px;    
}
.delightful-text-font-second{
    font-family:"Times New Roman";
    font-weight:normal !important;
    text-transform:uppercase;
    font-size:4em;
    margin-top:-55px;
}
.delightful-images-main-container{
    max-width: 1200px;
    width:100%;
    margin-right: auto;
    margin-left:auto;
    display: flex;
    flex-wrap: nowrap;
}
.delightful-images-main-container > div{
    width:300px;
    height:300px;
    text-align: center;
}
.delightful-images-second-main-container{
    max-width:1200px;
    width:100%;
    margin-right:auto;
    margin-left:auto;
    top:5%;
    position:relative;
    display:flex;
    flex-wrap:nowrap;
}
.delightful-images-second-main-container > div{
    width:300px;
    height:300px;
    text-align:center;
}
.wrapper{
    width:90%;
    height:800px;
    margin: 0 auto;
}
.menu-container{
    width:100%;
    position:absolute;
    margin-top:2600px;
}
.menu-container-wrapper{
    margin:0 auto;
    width:90%;
}
.menu-main-content-container{
    width:100%;
    position:absolute;
    height:2150px;
    margin-top:-55px;
    background:url(assets/images/menu-background.png);
    background-repeat:no-repeat;
    background-size: cover;
}
.menu-main-heading-content{
    margin:0 auto;
    width:100%;
    height:auto;
    text-align:center;
}
.menu-text-font-first{
    font-family:"Pacifico";
    font-size:2em;
    padding-top:0px;
    color:#fff;
}
.menu-text-font-second{
    font-family:"Times New Roman";
    font-weight: normal !important;
    text-transform:uppercase;
    font-size:4em;
    margin-top:-55px;
    color:#fff;
}
.drinks-menu{
    display:none
}
.drinks-menu-container{
    background:#fff;
    width:600px;
    position:absolute;
    left:48%;
    top:12%;
    height:460px;
}
.menu-wrapper{
    width:80%;
    margin:0 auto;
}
.drinks-menu-heading-container{
    position:relative;
    top:5%;
}
.drinks-heading{
    font-family: "Pacifico";
    font-size:2em;
}
.drinks-menu-list-item{
    position:relative;
    left:-8%;
}
.drinks-menu-individual-list-item{
    position:relative;
    top:-20px;
}
.drinks-menu-name{
    font-size:18px;
    display:block;
    width:500px;
    position:relative;
    left:-110px;
    text-align:right;
    margin-top:-40px;
}
.drinks-menu-name-price{
    font-size:18px;
    display:block;
    width:50px;
    position:relative;
    left:88%;
    text-align:right;
    margin-top:-62px;
}
.drinks-menu-01{
    position: relative;
    top:-20px;
}
.drinks-menu-02{
    position:relative;
    top:-40px;
}
.drinks-menu-03{
    position:relative;
    top:-60px;
}
.drinks-menu-04{
    position:relative;
    top:-80px;
}
.drinks-menu-05{
    position:relative;
    top:-100px;
}
.main-course-picture-container{
    text-align: right;
    margin-top: 50px;
}
.main-course-container{
    top:40%;
    left:10%;
    background:#fff;
    width:600px;
    position:absolute;
    height:460px;
}
.desserts-picture-container{
    margin-top:50px;
    z-index: 1;
    position:absolute;
}
.desserts-container{
    background:#fff;
    width:600px;
    position:absolute;
    left:48%;
    top:67%;
    height:460px;
    z-index:1;
}
.dessert-image-separator{
    margin-top:819px;
    position:absolute;
    display:inline-block;
    z-index:0;
    left:0px;
}
.spaghetti-separator{
    position:absolute;
    margin-top:883px;
    z-index:1;
    float:right;
    right:0%;
}
.tomato-separator{
    z-index:1;
    position:absolute;
    margin-top: 94%;
    float:left;
}