html{
    body{
        margin:0;
    }
}
ul{
    list-style-type: none !important;
}
a{
	:hover{
		.active{
			:visited{
				text-decoration:none !important;
				color:#fff !important;
			}
		}
	}
}
header{
    background: url(../images/header-background-image.png);
    background-repeat: no-repeat;
    background-size:100%;
    height: 800px;
    margin-top:-10px;
}
label {
  display: block;
  color: white;
  margin: 0 0 4px;
}
textarea{
	border:#000;
	padding:3px;
	font-size:1em;
	width:100%;
	::placeholder{
		color:#fff;
	}
}
input{
	border:#000;
	padding:3px;
	font-size:1em;
	width:100%;
	::placeholder{
		color:#fff;
	}
}
label, input, textarea {
  font-family: "Times New Roman";
}


